rules_version = '2';
service cloud.firestoreFacade {
  match /databases/{database}/documents {
    // Allow only authenticated content owners access
    match /projects/{userId}/{documents=**} {
      allow read, write: if request.auth.uid == userId
    }
    match /projectCategories/{userId}/{documents=**} {
      allow read, write: if request.auth.uid == userId
    }
    match /slack/{userId}/{documents=**} {
      allow read, write: if request.auth.uid == userId
    }
    match /timer/{userId}/{documents=**} {
      allow read, write: if request.auth.uid == userId
    }
    match /users/{userId}/{documents=**} {
      allow read, write: if request.auth.uid == userId
    }
  }
}
