/* Elegant scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

/* Rainbow loading */
.rainbow-loading {
  animation: rainbow 0.75s infinite;
  -webkit-animation: rainbow 0.75s infinite;
}

@-webkit-keyframes rainbow {
  0% {
    color: #e74c3c77;
  }
  20% {
    color: #f1c40f77;
  }
  40% {
    color: #1abc9c77;
  }
  60% {
    color: #3498db77;
  }
  80% {
    color: #9b59b677;
  }
  100% {
    color: #e74c3c77;
  }
}
@keyframes rainbow {
  0% {
    color: #e74c3c77;
  }
  20% {
    color: #f1c40f77;
  }
  40% {
    color: #1abc9c77;
  }
  60% {
    color: #3498db77;
  }
  80% {
    color: #9b59b677;
  }
  100% {
    color: #e74c3c77;
  }
}
